@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
body{
    margin: 0;
    height: 100%;
    background-color: #47535E;
    overflow: hidden;
}

.header {
    background: linear-gradient(#393a4e, #272837);
    border-bottom-color: #393a4e;
}

.flex.flex-cols {
    flex-direction: row;
    min-height: initial;
}

.header {
    height: 46px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0 0.5rem;
    margin-bottom: 50px;
}

.header-title{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
}
.flex-item{
    padding: 5px;
}

.mytext{
    border:0;padding:10px;background:grey;width:100%;;
}
.text{
    width:75%;display:flex;flex-direction:column;color:#EAF0F1;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:white;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}        
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:#74B9FF;
}
.msj{
    float:left;background:#2C3335;
}
.frame{
    height:100%;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;
}
body > div > div > div:nth-child(2) > span{
    background: whitesmoke;padding: 10px;font-size: 21px;border-radius: 50%;
}
body > div > div > div.msj-rta.macro{
    margin:auto;margin-left:1%;
}
ul {
    margin-top: 50px;
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: #2C3335 #2C3335 transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #74B9FF transparent transparent transparent;           
}  
input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}  

.inputfield{
    width: 100%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  font-size: 15px;
  min-height: 48px;
  width: 75%;
  margin-left: 50px;
}

.type_msg {position: relative;  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 9%;
  margin-right: 10px;
  max-width: 40px;
  text-decoration: none;
}

.msg_send_btn1 {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  left: 0;
  top: 8px;
  width: 9%;
  margin-left: 10px;
  max-width: 40px;
  text-decoration: none;
}

.msg_send_btn:active, .msg_send_btn:visited, .msg_send_btn:focus, .msg_send_btn:hover{
  text-decoration: none;
  border: none;
  outline: none;
}

.msg_send_btn1:active,.msg_send_btn1:visited, .msg_send_btn1:focus, .msg_send_btn1:hover{
  text-decoration: none;
  border: none;
  outline: none;
}


.speechbox{
    position: fixed;
    z-index: 2;
    width:80%;
    max-width: 500px;
    height:50vh;
}

.speechbox img{
    position: absolute;
    height:90%;
    width:90%;
}

.speechbox .text {
    position:absolute;
    z-index: 3;
    bottom:15%;
    width:90%;
    font-size:28px;
}